<div class="content" role="main">
  <input type="text" [formControl]="control">
  <button type="button" (click)="onSend()" [disabled]="control.invalid">Send</button>

  <ul>
    <li *ngFor="let message of sent">{{message}}</li>
  </ul>


<!--  <h2>Sent: '{{sent$ | async}}'</h2>-->
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
